{% extends 'layout.html' %}

{% block content %}

<article class="media content-section mb-5">
	<div class="media-body">
		<h3 class="display-4 mb-4">Selamat Datang!</h3>
		<p class="article-content text-justify">
			Selamat datang di Portal Akademik Universitas Hasanuddin. Portal Akademik adalah sistem yang memungkinkan
			civitas akademika Universitas Hasanuddin menerima informasi lebih cepat melalui internet. Sistem ini
			diharapkan dapat memberikan kemudahan kepada civitas akademika Universitas Hasanuddin untuk melakukan
			aktivitas-aktivitas akademik dan proses belajar mengajar.
		</p>
		<p class="article-content">
			Selamat menggunakan fasilitas ini.
		</p>
	</div>
</article>

{% endblock content %}