{% extends 'layout.html' %}

{% block content %}

<article class="media content-section">
    <div class="media-body">
        <h1 class="display-4 mb-4">Nilai Siswa</h1>
        <div class="detail-siswa mb-4">
            <table style="font-weight: 500;">
                <tr>
                    <td>Nama</td>
                    <td>&#8192:&#8192 {{ data_siswa.nama }}</td>
                </tr>
                <tr>
                    <td>NIM</td>
                    <td>&#8192:&#8192 {{ data_siswa.nis }}</td>
                </tr>
            </table>
        </div>

        <form class="form-inline" method="POST" action="{{ url_for('scores') }}">
            <div class="form-group mb-4">
                <div class="input-group">
                    <select name="select_semester" class=" form-control">
                        <option selected>Pilih Semester</option>
                        {% for i in range(1, data_semester + 1) %}
                        <option value="{{ i }}">Semester {{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
            <button type="submit" class="btn btn-dark">Select</button>
            </div>
        </form>
        <table class="table table-bordered table-striped">
            <thead class="text-center bg-dark text-light">
                <tr>
                    <th scope="col" style="font-weight: 500;">Mata Kuliah</th>
                    <th scope=" col" style="font-weight: 500;">Semester</th>
                    <th scope=" col" style="font-weight: 500;">Nilai</th>
                </tr>
            </thead>
            <tbody>
                {% for nilai in data_nilai %}
                <tr>
                    <td>{{ nilai.data_pelajaran_siswa.nama_pelajaran }}</td>
                    <td class="text-center">{{ nilai.semester }}</td>
                    <td class="text-center">{{ nilai.nilai }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</article>

{% endblock %}