{% extends 'layout.html' %}

{% block content %}

<article class="media content-section mb-5">
    <div class="media-body">
        <h1 class="display-4 mb-4">Profil Mahasiswa</h1>
        <table style="font-weight: 500;">
            <tr>
                <td>Nama</td>
                <td>&#8192:&#8192 {{ data.nama }}</td>
            </tr>
            <tr>
                <td>NIM</td>
                <td>&#8192:&#8192 {{ data.nis }}</td>
            </tr>
            <tr>
                <td>Tempat Lahir</td>
                <td>&#8192:&#8192 {{ data.tempat_lahir }}</td>
            </tr>
            <tr>
                <td>Tanggal Lahir</td>
                <td>&#8192:&#8192 {{ data.tanggal_lahir }}</td>
            </tr>
            <tr>
                <td>Alamat</td>
                <td>&#8192:&#8192 {{ data.alamat }}</td>
            </tr>
        </table>
        <div class="form-group mt-4 mb-2 d-flex justify-content-between">
            <div></div>
            <button type="submit" class="btn btn-dark">Edit Profile</button>
        </div>
    </div>
</article>

{% endblock content %}