@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
}

body {
	font-family: poppins, sans-serif;
	font-size: 16px;
	background-color: #c9d6df;
	color: #343a40;
	margin-top: 6rem;
}

label {
	font-weight: 500;
}

input[type="text"],
input[type="password"],
textarea#content {
	border: 2px solid #bbbbbb;
}

.bg-dark {
	background-color: #343a40;
}

.navbar-brand {
	font-family: pacifico, sans-serif;
	font-size: 1.5em;
}

.site-header .navbar-nav .nav-link {
	color: #f0f5f98c;
}

.site-header .navbar-nav .nav-link:hover {
	color: #f0f5f9;
}

.site-header .navbar-nav .nav-link.active {
	font-weight: 500;
}

.content-section {
	background: #f0f5f9;
	padding: 15px 22px;
	border: 2px solid #bbbbbb;
	border-radius: 6px;
	margin-bottom: 20px;
}

.article-title {
	color: #343a40 !important;
}

a.article-title:hover {
	color: rgb(65, 125, 194) !important;
	text-decoration: none;
}

.article-content {
	white-space: pre-line;
}

.article-img {
	height: 70px;
	width: 70px;
	border: 2px solid #bbbbbb;
	margin-right: 14px;
}

.article-metadata {
	padding-bottom: 2px;
	margin-bottom: 6px;
	border-bottom: 1.5px solid #c9c9c9ef;
}

.article-metadata a:hover {
	color: #52616b;
	text-decoration: none;
}

.article-svg {
	width: 25px;
	height: 25px;
	vertical-align: middle;
}

.account-img,
.account-info-img {
	height: 125px;
	width: 125px;
	margin-right: 20px;
	margin-bottom: 16px;
	border: 4px solid whitesmoke;
}

.account-info-img {
	margin-right: 0px;
	margin-bottom: 10px;
}

.account-heading {
	font-size: 2.5rem;
}

.pagination .page-item {
	border: 1px solid #bbbbbb;
}

.pagination .page-item .page-link {
	font-weight: 500;
	box-shadow: none;
	color: #343a40;
}

.pagination .page-item.active .page-link {
	background-color: #52616b;
	border: 1px solid #bbbbbb;
	color: whitesmoke;
}

.textarea-error {
	border: 2px solid #dc3545 !important;
}
