@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap");

html,
body {
	height: 100%;
	overflow: hidden;
}

body {
	font-family: "poppins", sans-serif;
	display: flex;
	font-size: 16px;
	padding: 40px 0px;
	background-color: #c9d6df;
	color: #343a40;
}

.title {
	font-family: "Pacifico", cursive;
}

.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 10px;
	margin: auto;
}

.form-signin .checkbox {
	font-weight: 400;
}

.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
	margin-bottom: -1px;
	border: 2px solid #bbbbbb;
	box-shadow: none;
	font-weight: 500;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.btn-outline-info {
	color: #17a2b8;
	border: 2px solid #17a2b8;
	font-weight: 500;
}

.form-control-label {
	font-weight: 500;
}

.form-signin .is-invalid {
	border: 2px solid #dc3545 !important;
}

.remember {
	padding: 0 !important;
	margin-bottom: 5px;
}
