{% extends 'layout.html' %}

{% block content %}

<article class="media content-section">
    <div class="media-body">
        <h1 class="display-4 mb-4">About This App</h1>
        <h2 class="article-content mb-1">
            Sikolah <small>v1.0</small>
        </h2>
        <p class="article-content dev mb-1">
            Developed by :
        </p>
        <ul style="list-style: none;">
            <li>
                <a href="https://github.com/rizqul" class="dev" target="_blank">
                    A. Muhammad Risqullah
                </a>
            </li>
            <li>
                <a href="https://github.com/fajri-rasid1st" class="dev" target="_blank">
                    Muhammad Fajri Rasid
                </a>
            </li>
            <li>
                <a href="https://github.com/rizqul" class="dev" target="_blank">
                    Richard Enrico Sulieatno
                </a>
            </li>
        </ul>
    </div>
</article>

{% endblock content %}