<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Flask Mail Sending App</h1>
    <form action="{{url_for('send_message')}}" method="POST">
        <input type="email" name="email" placeholder="Email" required id="">
        <input type="text" name="subject" placeholder="Subject" required id="">
        <textarea name="message" id="" cols="30" placeholder="Message Body" required rows="30"></textarea>
        <input type="submit" value="Send Message">
    </form>
</body>
</html>